/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
/* The sidebar menu */
$main_green:#00897B;

body {
  background-color: #BDBDBD;
}
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 30%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color:$main_green; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 22px;
  color: #BDBDBD;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #181818;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
$message_height :2rem;

.new_message {
  position: fixed;
  bottom: 0;
  width: 70%;
  right:0;
  height:$message_height;
}

.send-control {
  width:90%;
  font-size: large;
}

.btn-send {
  background-color:#198754;
  border: none;
  color: white;
  width:10%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: large;
}

$header_height:2rem;

.room-header {
  position: fixed;
  left:30%;
  height: $header_height+1rem;
  width: 100%;
  background-color: $main_green;
}

#messages {
  padding-bottom: $message_height;
  padding-top: $header_height+ 1rem;
}